Repository CogappLabs/StoriiiesViewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit', stylelint --fix

Tweaks
  README.md
Due: none

Feedback amends
  README.md
Due: none

Codepen link (temporary)
  README.md
Due: none

Add summary and required statement to fixture
  cypress/fixtures/manifests/standard-v3/manifest.json
Due: none

Add new fixture for checking plain text summary
  cypress/fixtures/manifests/plain-text-summary-v3/manifest.json
Due: none

Seem prescriptive to output label here
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Abstract the slide rendering into separate methods
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Update fixtures
  cypress/fixtures/manifests/plain-text-summary-v3/manifest.json
  cypress/fixtures/manifests/standard-v3/manifest.json
Due: none

Output summary and requiredStatement
  cypress/e2e/basic.spec.cy.ts
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Apply nl2br logic where needed Includes adding utility to match IIIFs broad definition of HTML values
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
  src/utils.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add test for plain text summary rendering
  cypress/e2e/basic.spec.cy.ts
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add styles for heading
  src/css/styles.css
Due: prettier -w, stylelint --fix

Use multiple sanitisation calls for integrity
  cypress/e2e/basic.spec.cy.ts
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Update Cypress and allow scripts to use Electron Now Cypress ships with new Electron it supports container queries
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Apply reset behaviour functionally
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Fix broken test The setter function was called too soon
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add a ceiling property
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Update tests for credits
  cypress/e2e/basic.spec.cy.ts
  cypress/e2e/multi-viewer.spec.cy.ts
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Tweak credit slide behaviour to not run goHome()
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Conditionally render the credits
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add new config to control a credit slide
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add some missing doc comments
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Update visuals when next becomes restart
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
  src/images/restart.svg
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Stub out the method/markup for the credit slide
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Clean up all our service ID's
  cypress/fixtures/manifests/external-annotation-pages-v3/manifest.json
  cypress/fixtures/manifests/no-label-v3/manifest.json
  cypress/fixtures/manifests/plain-text-summary-v3/manifest.json
  cypress/fixtures/manifests/standard-v2/manifest.json
  cypress/fixtures/manifests/standard-v3/manifest.json
  docs/demo/grande-jatte.json
Due: none

Add utility method to expand serviceID's
  docs/api/assets/search.js
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Updated link and text in end panel
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

updated Cypress test
  cypress/e2e/basic.spec.cy.ts
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

added image and credits
  README.md
  docs/Storiies_banner_1280_95.jpg
Due: none

moved credits to bottom
  README.md
Due: none

use small instead of sub
  README.md
Due: none

changed to normal text
  README.md
Due: none

removed paragraph spacing
  README.md
Due: none

optimised image
  docs/Storiies_banner_1280_95.jpg
Due: none

Bump cypress and osd types
  package-lock.json
  package.json
Due: none

Test with negative and decimal coords
  cypress/e2e/basic.spec.cy.ts
  cypress/fixtures/manifests/standard-v3/manifest.json
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Refactor regex to split Split is probably better because it catches negative values and decimals The equivalent regex would be much more unwieldy
  cypress/support/utils.ts
  docs/api/classes/StoriiiesViewer.html
  docs/api/interfaces/StoriiiesViewerConfig.html
  src/StoriiiesViewer.ts
Due: eslint --fix, prettier -w, bash -c 'npx tsc -p tsconfig.json --noEmit'

Add Readme image (#17)
  README.md
  docs/Storiies_banner_1280_95.jpg
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier -w: (any of: *.ts) or (any of: *.css)
  bash -c 'npx tsc -p tsconfig.json --noEmit': any of: *.ts
  stylelint --fix: any of: *.css
